            body {
                font-family:sans-serif;
                background-color:peachpuff;
                margin:0px;
            }
        
            .container {
                margin: 30px;
                padding: 20px;
                text-align: center;
                
            }
            .container2 {
                margin: 30px;
                background-color: aquamarine;
                padding: 40px;
                
            }

            .video {
                margin-left:20px;
            }

            .mycontent {
                margin: 20px;            
            }

            .inputbox {
                margin-top: 20px;
                float: right;
                margin-left: 20px;
            }
            /* The snackbar - position it at the bottom and in the middle of the screen */
            #snackbar {
            visibility: hidden; /* Hidden by default. Visible on click */
            min-width: 250px; /* Set a default minimum width */
            margin-left: -125px; /* Divide value of min-width by 2 */
            background-color: #333; /* Black background color */
            color: #fff; /* White text color */
            text-align: center; /* Centered text */
            border-radius: 2px; /* Rounded borders */
            padding: 16px; /* Padding */
            position: fixed; /* Sit on top of the screen */
            z-index: 1; /* Add a z-index if needed */
            left: 45%; /* Center the snackbar */
            bottom: 30px; /* 30px from the bottom */
            }

            /* Show the snackbar when clicking on a button (class added with JavaScript) */
            #snackbar.show {
            visibility: visible; /* Show the snackbar */
            /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
            However, delay the fade out process for 2.5 seconds */
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
            }

            /* Animations to fade the snackbar in and out */
        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
            }

        @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
            }

        @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
            }

        @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
            }
    
            
            /* The grid: Four equal columns that floats next to each other */
            .column {
            float: left;
            width: 25%;
            padding: 10px;
            }

            /* Style the images inside the grid */
            .column img {
            opacity: 0.8;
            cursor: pointer;
            }

            .column img:hover {
            opacity: 1;
            }

            /* Clear floats after the columns */
            .row:after {
            content: "";
            display: table;
            clear: both;
            }

            /* The expanding image container (positioning is needed to position the close button and the text) */
        .container {
            position: relative;
            }

            /* Expanding image text */
            #imgtext {
            position: absolute;
            bottom: 15px;
            left: 15px;
            color: white;
            font-size: 20px;
            }

            /* Closable button inside the image */
            .closebtn {
            position: absolute;
            top: 10px;
            right: 15px;
            color: white;
            font-size: 35px;
            cursor: pointer;
}

            .topnav {
                background-color: skyblue;
                overflow: hidden;
                }
            
            .topnav a {
                float: left;
                color: slateblue;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
                }
            
            .topnav a:hover {
                background-color:dodgerblue;
                }
            
            .topnav a.active {
                background-color:dodgerblue;
                }